.signup-container{
    
    width: 28%;
    padding: 2rem;
    margin-bottom: 1rem;
    margin-top: 2.5rem;
    background-color: white;
    border-radius: 0.3rem;
    font-family: Arial, sans-serif;
    box-shadow: 0 4px 8px 0 rgba(29, 28, 28, 0.2), 0 6px 20px 0 rgba(49, 49, 49, 0.19);
}

.signup-title {

    font-size: 2rem;
    text-align: left;
}

.form-check-label{

    font-size: 0.8rem;
}

.small-text{

    font-size: 0.8rem;
}

.links{

    text-decoration: underline;
}

.signup-btn {
    background-color: rgb(48, 11, 151) !important;
    border: none !important;
    width: 70%;
}



 
